@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

/**
 * Déclaration des couleurs.
 */
:root {
  --backgroundColor: #faf9f7;
  --headerColor: #f5f3ef;
  --ariane: #a6a6a6;
  --backgroundCard: #ffffff;
  --ctaColor: #00ac66;
}

/**
   * Valeur par défaut pour les balises.
   */
body {
  font-family: "inter", sans-serif;
  background-color: var(--headerColor);
  width: 100%;
}

h1,
h2 {
  font-family: "Playfair Display", serif;
  font-size: 36px;
  font-weight: 400;
  text-align: center;
}
/*////////////////////// nav bar //////////////////*/
header {
  padding: 10px 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
#error {
  text-align: center;
  margin: 4em;
}

#error-description {
  margin: 4em;
}
#error-description .link {
  padding: 4em;
  color: #00ac66;
}

#menu {
  display: flex;
  list-style-type: none;
  width: 80%;
  justify-content: space-between;
  padding: 0 5%;
}

#logo {
  height: 50px;
  width: auto;
}
.ariane {
  color: var(--ariane);
  font-weight: 300;
  padding-left: 6%;
}
.ariane_section {
  height: 3em;
}

.ariane:hover {
  font-weight: 300;
}

/* .sous_menu {
  display: flex;
  justify-content: space-between;
}

.sous_menu li {
  margin-left: 2em;
}

.sous_menu li a {
  text-decoration: none;
  margin-left: 5px;

  color: var(--text);
} */
.sous_menu {
  display: flex;
  align-items: center;
  gap: 20px; /* Espacement entre les éléments */
}

.sous_menu li {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
}

.sous_menu li a {
  display: flex;
  align-items: center;
}

.sous_menu a {
  text-decoration: none;
  font-size: 16px;
}
.sous_menu img {
  width: 0.7em;
  height: 0.7em;
  margin-right: 8px;
}

.sous_menu a:hover {
  color: var(--ctaColor); /* Change la couleur au survol */
}

.notification-message {
  background-color: #000000;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 5px;
  border-radius: 40%;
  text-align: center;
}

a:hover {
  font-weight: bold;
  cursor: pointer;
}

.cta {
  background-color: var(--ctaColor);
  padding: 1em;
  border-radius: 0.5em;
  border: none;
  color: white;
  max-width: 30%;
  text-decoration: none;
  font-weight: bold;
}
.cta:hover {
  cursor: pointer;
}
#home {
  width: 100%;
}
#banner {
  display: flex;
  padding: 5em 20%;
  align-items: center;
  justify-content: center;
  width: 100%;
}
#banner-content {
  display: flex;
  flex-direction: column;
}
#banner-content h1 {
  text-align: left;
}

#banner-description {
  padding: 2em 0;
  width: 60%;
}

#banner-img {
  height: 27em;
  padding-left: 2em;
  max-width: fit-content;
}
/* home */
.bookList {
  background-color: var(--backgroundColor);
  padding: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
a {
  text-decoration: none;
  color: #000;
}
a:visited {
  color: inherit;
}
.cta:visited {
  color: white;
}

.book_card {
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.book_card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.book_card h3 {
  font: 1em sans-serif;
  font-weight: 400;
  padding: 0.5em 0;
  text-align: left;
}
.book_card p {
  font: 14px sans-serif;
  font-weight: 400;
  color: #a6a6a6;
}
.saler {
  font-style: oblique;
  padding-top: 2em;
}
.saler p {
  font-size: 14px;
  font-style: italic;
  color: #555;
}
.card_img {
  width: 100%;
  height: 60%;
  overflow: hidden;
}
.book_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.book_description {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

#tuto_section {
  background-color: var(--headerColor);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5em;
}
.book_info p {
  font-size: 14px;
  font-weight: 400;
  color: #888;
  margin-bottom: 10px;
}

#tudo_description p {
  padding: 2em 0;
  text-align: center;
}

#tuto_cards {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.tuto_card {
  background-color: white;
  padding: 5%;
  margin-left: 5%;
  text-align: center;
  border-radius: 5%;
  width: 50%;
}

#tuto_section .cta {
  background-color: rgba(255, 255, 255, 0);
  color: var(--ctaColor);
  border-color: var(--ctaColor);
  border: solid;
  margin-top: 5%;
  width: 15em;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
}

#home_img {
  width: 100%;
  padding-bottom: 5em;
}

#valeur {
  padding: 5em;
}
#valeur h2 {
  text-align: left;
  padding-bottom: 2em;
}
#signature {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 5em;
  padding-bottom: 5em;
  background-color: var(--headerColor);
}

footer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  background-color: white;
  padding: 2.5em 1em;
}
footer p {
  padding: 0 1em;
}

/* page qui affiche tous les livres */
#books {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(260px, 1fr)
  ); /* Colonnes responsives */
  grid-auto-rows: 400px; /* Chaque ligne aura une hauteur fixe de 400px */
  gap: 20px; /* Espacement entre les lignes et les colonnes */
}

#last_books {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  grid-auto-rows: 400px;
  padding: 3% 0;
  gap: 20px;
  width: 100%;
  margin: 0 auto;
}
#all_books_page {
  background-color: var(--backgroundColor);
  padding: 3em 8em;
}
#all_books_page_header form {
  width: 19%;
}

.all_books_page_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.our-all_books_page_header h1 {
  font-size: 36px;
  font-weight: 400;
  font-family: "Playfair Display", serif;
}

.all_books_page_submit_button {
  display: none;
}

.search-input-wrapper {
  display: flex;
  background-color: #fff;
  padding: 16px 13px;
  border-radius: 6px;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.search-input-wrapper input {
  width: 300px;
  margin-left: 10px;
  padding-left: 10px;
  border: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
/* page détaille livre */

.book_page {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.book_page hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #a6a6a6;
  padding: 0;
  width: 30px;
  margin: 2 0;
}

.book_page p {
  padding: 15px 0;
}
.book_page_img {
  position: relative;
  width: 50%;
}
.book_page_info {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 50%;
  background-color: var(--backgroundColor);
  padding: 59px 85px 80px 85px;
}
.book_page_info .cta {
  max-width: 100%;
  text-align: center;
  margin-top: 5em;
}
#book_page_title {
  text-align: left;
}
#book_page_author {
  color: #a6a6a6;
  font-size: 17px;
  font-weight: 300;
}
#book_page_description {
  margin-bottom: 32px;
  color: #292929;
  font-weight: 300;
  display: block;
  margin-bottom: 1em;
  line-height: 1.5;
}
.user_profil {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px;
  background-color: white;
  border-radius: 114px;
  max-width: 43%;
  margin: 1em 0;
  box-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.1);
}
.user_profil_img {
  width: 3em;
  border-radius: 50%;
  margin-right: 15px;
}
.book_page_text {
  font-weight: bold;
}
/* /////////////////// edit_book ///////////////*/
.edit_book_title h1 {
  text-align: left;
}
.edit_book_title {
  margin: 2em 18em;
}
.edit .ariane {
  padding: 0;
}

.form_edit_book {
  display: flex;
  flex-direction: row;
  max-width: 900px;
  margin: 0 18em 5% 18em;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
.edit_book {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.edit_book form {
  width: 95%;
}

.edit_book_img {
  max-width: 400px;
  height: auto;
  object-fit: cover;
}
.labelField_edit_book {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.edit_book_img_section {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.edit_book_info .cta {
  width: 50%;
  max-width: 100%;
}

/* Informations */
.edit_book_info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0px 0px 50px 74px;
}

/* !!!!!!!!!!!!!! connexion !!!!!!!!!!!!!!!!!!!*/

.connection-form {
  display: flex;
  background-color: var(--backgroundColor);
}
.connection-form h2 {
  padding-bottom: 3em;
}
.imgConnexion {
  width: 50%;
}

.foldedCorner {
  width: 50%;
  padding: 5em;
}

.formGrid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formGrid .labelField {
  width: 30em;
}

.fieldForm {
  width: 322px;
  height: 50px;
  border-radius: 6px;
  border: none;
  background-color: #edf2f6;
}

.labelField {
  display: flex;
  flex-direction: column;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  text-align: left;
  color: #a6a6a6;
  padding-bottom: 3em;
}

label {
  font-weight: bold;
  color: #555;
}

.fieldForm {
  font-size: 14px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

textarea.fieldForm {
  resize: none;
  height: 350px;
}

.connection-form .cta {
  width: 100%;
  max-width: 100%;
}

.sign {
  padding-top: 2em;
}

/* ////////////// my account ///////////////: */
#my-account h1 {
  text-align: left;
  margin: 2em 8%;
}
.user-btn {
  margin: 2em 8%;
}
.user-detail {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.user-description {
  background-color: var(--backgroundCard);
  padding: 0% 10%;
  border-radius: 30px;
  margin-right: 5%;
  width: 40%;
}
.user-description hr {
  margin: 50px 0 70px 0;
  color: #a6a6a6;
}
.display-user-information-section #member-year {
  color: #a6a6a6;
  font-size: 1.5em;
  margin: 1em 0;
  text-align: center;
}
.display-user-information-section #member-book-number {
  font-size: 1.2em;
  text-align: center;
  margin: 0.5em;
  margin-bottom: 3em;
}
.cta-user {
  background-color: #f5f3ef;
  color: #00ac66;
  border: solid 1px;
}
.display-user-information-section h3 {
  font-size: 1em;
  font-weight: 600;
  line-height: 9.68px;
  letter-spacing: 0.08em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.user-descrption-photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}
#display-user-information .display-user-information-section {
  margin-top: 1.2em;
}

.user-description .user_profil_img {
  width: 8em;
}

.user-information {
  background-color: var(--backgroundCard);
  padding: 0 5%;
  width: 40%;
  border-radius: 30px;
}
.user-information h3 {
  padding: 50px 0;
  font-size: 1.5em;
  font-weight: 400;
}
.user-detail label {
  padding-bottom: 0.5em;
  font-size: 1.2em;
}

.user-detail input {
  max-width: 30em;
}
/* Style tableau */
.user-book {
  width: 84%;
  margin: 0 8%;
}

.user-article {
  margin: 50px 0;
}

.bookLine {
  display: grid;
  grid-template-columns: 0.7fr 1.5fr 1fr 2fr 1fr 1fr; /* Définition des largeurs de colonne */
  align-items: center;
  padding: 30px;
  border-bottom: 1px solid #e0e0e0;
}
.title {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Limite à 3 lignes */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bookLine:first-child {
  border-radius: 30px 30px 0% 0%;
}
.bookLine:last-child {
  border-radius: 0% 0% 30px 30px;
}

.bookLine:nth-child(odd) {
  background-color: #edf2f6;
}

.bookLine:nth-child(even) {
  background-color: var(--backgroundCard);
}

/* Style de l’en-tête du tableau */
.bookLine.header {
  font-weight: bold;
  font-size: 0.5em;
  background-color: var(--backgroundCard);
}

/* Style de chaque colonne */
.user_book_img {
  width: 70px;
  height: 70px;
  border-radius: 5px;
  object-fit: cover;
}

.bookLine .title {
  font-weight: normal;
  font-size: 14px;
}

/* Description en italique */
.bookLine .title:nth-child(4) {
  font-style: italic;
  font-weight: normal;
}

/* Disponibilité */
.disponible {
  color: white;
  background-color: #4caf50;
  border-radius: 12px;
  padding: 5px 10px;
  font-size: 12px;
  display: inline-block;
  text-align: center;
}

.non-dispo {
  color: white;
  background-color: #d9534f;
  border-radius: 12px;
  padding: 5px 10px;
  font-size: 12px;
  display: inline-block;
  text-align: center;
}

.link.edit {
  text-decoration: underline;
  margin-right: 10px;
}

.link.supp {
  text-decoration: underline;
  color: #d9534f;
}

.add-book h1 {
  margin: 2em 0;
}
.add-page-info {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--backgroundColor);
  padding: 59px 85px 80px 85px;
}

/* page public account */

#pulic-account {
  display: flex;
  flex-direction: row;
  background-color: #faf9f7;
}

#pulic-account .user-detail {
  margin: 5%;
  width: 50%;
  background-color: var(--backgroundCard);
  border-radius: 30px;
}

#pulic-account hr {
  margin: 5%;
}

.public-user-description {
  padding: 0% 10%;
  border-radius: 30px;
  width: 90%;
}
#pulic-account .user-book {
  width: 80%;
  margin: 5% 5% 5% 0%;

  border-radius: 30px;
}

.bookLine-pulic-account {
  width: 100%;
  grid-template-columns: 2.7fr 4.5fr 3fr 3fr;
}

.public-user-article {
  margin: 0;
}

/* message */

.container {
  display: flex;
  height: 100vh;
}

/* Sidebar */
.sidebar {
  width: 30%;
  background-color: #fff;
  border-right: 1px solid #ddd;
  padding: 20px;
}

.sidebar h2 {
  margin: 0 0 20px;
}

.contact-list {
  overflow-y: auto;
  height: calc(100% - 40px);
}

.contact {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

.contact-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.contact-info {
  flex: 1;
}

.contact-name {
  font-weight: bold;
  margin: 0;
}

.contact-preview {
  font-size: 0.9em;
  color: #888;
  margin: 5px 0 0;
}

.contact-time {
  font-size: 0.8em;
  color: #888;
}

/* Chat area */
.chat-area {
  width: 70%;
  display: flex;
  flex-direction: column;
  background-color: #fdfdfd;
}

.chat-header {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

.chat-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.chat-name {
  font-size: 1.2em;
  font-weight: bold;
}

.chat-messages {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
}

.message {
  display: flex;
  margin-bottom: 15px;
  align-items: flex-end;
}

.message-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.message-content {
  max-width: 60%;
  background-color: #e8e8e8;
  border-radius: 10px;
  padding: 10px 15px;
  position: relative;
  font-size: 0.9em;
}

.message-content .message-time {
  display: block;
  font-size: 0.8em;
  color: #aaa;
  margin-top: 5px;
  text-align: right;
}

.message.sent .message-content {
  margin-left: auto;
  background-color: #d1e7ff;
}

.chat-input {
  display: flex;
  padding: 20px;
  border-top: 1px solid #ddd;
  background-color: #fff;
}

.chat-input input {
  flex: 1;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 10px;
}

.chat-input button {
  padding: 10px 20px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.chat-input button:hover {
  background-color: #218838;
}

/* .notification-message {
  background-color: #d9534f;
  color: white;
  padding: 5px;
  text-align: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 15px;
} */
