@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

/**
 * Déclaration des couleurs.
 */
:root {
  --backgroundColor: #faf9f7;
  --headerColor: #f5f3ef;
  --ariane: #a6a6a6;
  /* --headerPaleColor: #efe1ba;
  --titleColor: #000000;
  --text: #000000;
  --dateColor: #3f56a4;
  --quoteColor: #c5cbe4;
  --commentPaleColor: #99a140; */
  --ctaColor: #00ac66;
}

/**
   * Valeur par défaut pour les balises.
   */
body {
  font-family: "inter", sans-serif;
  background-color: var(--headerColor);
  width: 100%;
}

h1,
h2 {
  font-family: "Playfair Display", serif;
  font-size: 36px;
  font-weight: 400;
  text-align: center;
}

nav {
  display: flex;
  align-items: center;
  margin-top: 2em;
  font-size: 15px;
  justify-content: center;
  padding: 1em 0;
}

#menu {
  display: flex;
  list-style-type: none;
  width: 80%;
  justify-content: space-between;
  padding: 0 5%;
}

#logo {
  height: 3, 5em;
}
.ariane {
  color: var(--ariane);
  font-weight: 300;
  padding-left: 6%;
}
.ariane_section {
  height: 3em;
}

.ariane:hover {
  font-weight: 300;
}

.sous_menu {
  display: flex;
  justify-content: space-between;
}

.sous_menu li {
  margin-left: 2em;
}

.sous_menu li a {
  text-decoration: none;
  margin-left: 5px;

  color: var(--text);
}

a:hover {
  font-weight: bold;
}

.cta {
  background-color: var(--ctaColor);
  padding: 1em;
  border-radius: 0.5em;
  border: none;
  color: white;
  max-width: 30%;
  text-decoration: none;
  font-weight: bold;
}
#home {
  width: 100%;
}
#banner {
  display: flex;
  padding: 5em 20%;
  align-items: center;
  justify-content: center;
  width: 100%;
}
#banner-content {
  display: flex;
  flex-direction: column;
}
#banner-content h1 {
  text-align: left;
}

#banner-description {
  padding: 2em 0;
  width: 60%;
}

#banner-img {
  height: 27em;
  padding-left: 2em;
  max-width: fit-content;
}
.bookList {
  background-color: var(--backgroundColor);
  padding: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
a {
  text-decoration: none;
}

.book_card {
  width: 260px;
  height: 24em;
  display: flex;
  flex-direction: column;
}

.book_card h3 {
  font: 16px sans-serif;
  font-weight: 400;
  padding: 1em 0;
  text-align: left;
}
.book_card p {
  font: 14px sans-serif;
  font-weight: 400;
  color: #a6a6a6;
}
.saler {
  font-style: oblique;
  padding-top: 2em;
}
.card_img {
  width: 100%;
  height: 60%;
}
.book_img {
  width: 100%;
  height: 100%;
}
.book_description {
  background-color: white;
  width: 100%;
  height: 40%;
  padding-left: 5%;
  padding-bottom: 5%;
}

#tuto_section {
  background-color: var(--headerColor);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5em;
}

#tudo_description p {
  padding: 2em 0;
  text-align: center;
}

#tuto_cards {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.tuto_card {
  background-color: white;
  padding: 5%;
  margin-left: 5%;
  text-align: center;
  border-radius: 5%;
  width: 50%;
}

#tuto_section .cta {
  background-color: rgba(255, 255, 255, 0);
  color: var(--ctaColor);
  border-color: var(--ctaColor);
  border: solid;
  margin-top: 5%;
  width: 15em;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
}

#home_img {
  width: 100%;
  padding-bottom: 5em;
}

#valeur {
  padding: 5em;
}
#valeur h2 {
  text-align: left;
  padding-bottom: 2em;
}
#signature {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 5em;
  padding-bottom: 5em;
  background-color: var(--headerColor);
}

footer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  background-color: white;
  padding: 2.5em 1em;
}
footer p {
  padding: 0 1em;
}

/* page qui affiche tous les livres */
#books {
  padding: 5em;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 colonnes de taille égale */
  gap: 10px; /* Écart égal entre les colonnes et les lignes */
  grid-auto-rows: minmax(50px, auto); /* Hauteur des lignes minimale de 50px */
}
#all_books_page {
  background-color: var(--backgroundColor);
  padding: 130px 263px 80px 263px;
}

.all_books_page_header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 72px;
  align-items: center;
}

.our-all_books_page_header h1 {
  font-size: 36px;
  font-weight: 400;
  font-family: "Playfair Display", serif;
}

.all_books_page_submit_button {
  display: none;
}

.search-input-wrapper {
  display: flex;
  background-color: #fff;
  padding: 16px 13px;
  border-radius: 6px;
}

.search-input-wrapper input {
  width: 300px;
  margin-left: 10px;
  padding-left: 10px;
  border: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
/* page détaille livre */

.book_page {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.book_page hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #a6a6a6;
  padding: 0;
  width: 30px;
  margin: 32px 0;
}

.book_page p {
  padding: 15px 0;
}
.book_page_img {
  position: relative;
  width: 50%;
}
.book_page_info {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 50%;
  background-color: var(--backgroundColor);
  padding: 59px 85px 80px 85px;
}
#book_page_title {
  text-align: left;
}
#book_page_author {
  color: #a6a6a6;
  font-size: 17px;
  font-weight: 300;
}
#book_page_description {
  margin-bottom: 32px;
  color: #292929;
  font-weight: 300;
  display: block;
  margin-bottom: 1em;
  line-height: 1.5;
}
.user_profil {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px 0;
}
.user_profil_img {
  width: 3em;
  border-radius: 50%;
  margin-right: 15px;
}
.book_page_text {
  font-weight: bold;
}
